[Desktop Entry]
Exec=@TB_PRODUCT_LINUX_EXECUTABLE_NAME@ %F
GenericName=AI-Assisted Level Editor
Comment=@TB_PRODUCT_DESCRIPTION@
Icon=@TB_PRODUCT_LINUX_DESKTOP_NAME@
Name=@TB_PRODUCT_DISPLAY_NAME@
Terminal=false
Type=Application
Categories=Game
Keywords=quake;level;editor;architecture;ai;
MimeType=text/x-quakemap;
